{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Study Session Scheduler</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/agency.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">UCSC Study Group Scheduler</a>
                <a href="/register/">Register Here</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sessions">My Study Sessions</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#schedule">My Schedule</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#settings">Account Settings</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to Your Study Session Manager!</div>
		<!--<div class="intro-heading">It's Nice To Meet You</div> -->
                <a href="#openModal" class="btn-x2">Create a new study session</a>
            </div>
        </div>
    </header>
    <!--<a href="#openModal">Open Modal</a>-->
<form id="classForm">
<div id="openModal" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="close">X</a>
        <div class="intro-lead-in1">Create Study Session</div>
        <div class="createSessionText">
        Select a Class:&nbsp;<select>
                          <option value ="cmps5j">CMPS 5J</option>
                        </select><br><br>
        Minimum Time for a Study Session (Please Select One):<br>
        <input type="radio" name ="time" value=".5">&nbsp;.5 hr&nbsp;
        <input type="radio" name ="time" value="1" checked>&nbsp;1 hr&nbsp;
        <input type="radio" name ="time" value="1.5">&nbsp;1.5 hr&nbsp;
        <input type="radio" name ="time" value="2">&nbsp;2 hr&nbsp;
        <input type="radio" name ="time" value="2.5">&nbsp;2.5 hr&nbsp;
        <input type="radio" name ="time" value="3">&nbsp;3 hr&nbsp;
        <input type="radio" name ="time" value="3.5">&nbsp;3.5 hr&nbsp;
        <input type="radio" name ="time" value="4">&nbsp;4 hr&nbsp;
        <br><br>
        Minimum # of People in Session (Please Select One):<br>
        <input type="radio" name ="people" value="2" checked>&nbsp;2&nbsp;
        <input type="radio" name ="people" value="3">&nbsp;3&nbsp;
        <input type="radio" name ="people" value="4">&nbsp;4&nbsp;
        <input type="radio" name ="people" value="5">&nbsp;5&nbsp;
        <input type="radio" name ="people" value="6">&nbsp;6&nbsp;
        <input type="radio" name ="people" value="7">&nbsp;7&nbsp;
        <input type="radio" name ="people" value="8">&nbsp;8&nbsp;
        <input type="radio" name ="people" value="9">&nbsp;9&nbsp;
        <input type="radio" name ="people" value="10">&nbsp;10&nbsp;
        <br><br>
        Meeting Locations (Please Check All That Apply):<br>
        <input type="checkbox" name="location" value="library">&nbsp;Automatically reserve a Room in McHenry or S&E library.<br>
        <input type="checkbox" name="location" value="oncampus">&nbsp;I'm willing to meet anywhere on campus.<br>
        <input type="checkbox" name="location" value="offcampus">&nbsp;I'm willing to meet anywhere off campus.<br><br>
        How Often Do You Want to Meet?<br>
        <input type="radio" name ="recurrence" value="once" checked>&nbsp;One Time
        <input type="radio" name ="recurrence" value="weekly">&nbsp;Once a Week (recurring)
        <br><br>
    </div>
        <input type="button" class="submitButton" onclick="alert('Your Study Session Has Been Submitted!')" value="Create My Study Session">
    </div>

</div>
</form>
    <!-- Study Sessions Section -->
    <section id="sessions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Sessions</h2>
		    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-6">
                    <h3 class="service-heading">&nbsp;&nbsp;&nbsp;&nbsp;Pending Sessions</h3>
		    <ul class="pendingSess">
		    	<li class="text-mutedSession">CMPS 104A</li>
		    </ul>
                </div>
                <div class="col-xs-6">
                    <h3 class="service-heading">&nbsp;&nbsp;&nbsp;&nbsp;Scheduled Sessions</h3>
		    <ul class="scheduledSess">
                    <li class="text-mutedSession">CMPS 130</li>
	            </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Schedule Section -->
    <section id="schedule" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Schedule</h2>
                    <button type="button" class="importCal">Import Google Calendar</button>
                    <div class="schedule"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Account Settings Section -->
    <section id="settings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Account Settings</h2>
                </div>
            </div>
	    <div class="row">
		    <table style="width:100%">
			    <tr>
				    <td>Email</td>
				    <td>
					    <input type="text" class="accountInfo Email" name="Email" value="samwoods@ucsc.edu" disabled><br>
			            </td> 
				    <td>
					    <button type="button" class="edit Email">
						    <span class="button-text">Edit</span>
					    </button>
			            </td>
			    </tr>
                            <tr>
				    <td>Password</td>
   				    <td>
	    				    <input type="text" class="accountInfo Password" name="Password" value="******" disabled><br>
    			 	    </td> 
				    <td>
					    <button type="button" class="edit Password">
						    <span class="button-text">Edit</span>
					    </button>
    				    </td>
  			    </tr>
  		 	    <tr>
    				    <td>Phone Number</td>
    				    <td>
					    <input type="text" class="accountInfo PhoneNumber" name="Phone Number" value="888-888-8888" disabled><br>
				    </td> 
				    <td>
					    <button type="button" class="edit PhoneNumber">
						    <span class="button-text">Edit</span>
					    </button>
    				    </td>
  			    </tr>
  			    <tr>
	  			    <td>Notification Settings</td>
	  			    <td>
					    <input type="checkbox" class="accountInfo Notification emailNotify" value="email" checked disabled>Notify me by email<br>
		                            <input type="checkbox" class="accountInfo Notification textNotify" value="phone" disabled>Notify me by text<br>
                                    </td>
				    <td>
					    <button type="button" class="edit Notification">
						    <span class="button-text">Edit</span>
					    </button>
    				    </td>
                            <tr>
                    </table>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static "js/classie.js" %}"></script>
    <script src="{% static "js/cbpAnimatedHeader.js" %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static "js/jqBootstrapValidation.js" %}"></script>
    <script src="{% static "js/contact_me.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/agency.js" %}"></script>

    <script src="{% static "js/schedule.js" %}"></script>

    <script>
    $(document).ready(function() {
	scheduleInit();
        console.log("document ready\n");
	$("button.edit").click(function() {
	   // if the option is disabled
	   if (!$(this).hasClass("Save")){
	       // enable the input
	       $(this).parent().closest('td').prev().children('input').prop('disabled', false);
	       // change the text of the button to Save
	       $(this).children("span").text("Save");
	   // if the option is enabled
	   } else {
	       // add code to update database
	       var inputSection = $(this).parent().closest('td').prev().children('input');
	       console.log(inputSection);
	       if ($(inputSection).is("input:text")){
	          console.log("text has been saved");
		  var newValue = $(inputSection).val();
		  console.log(newValue);
		  if ($(inputSection).hasClass("Email")){
		     // save email
		  } else if ($(inputSection).hasClass("Password")){
		     // save password
		  } else {
		     // save phone number
		  }
	       } else {
	          console.log("checkboxes have been saved");
		  //if ($(inputSection.hasClass
	       }
	       // disable the input
	       $(inputSection).prop('disabled', true);
	       // change the text of the button to Edit
	       $(this).children("span").text("Edit");
	   }
	   $(this).toggleClass("Save");
	});
    });
    </script>

</body>

</html>
