{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Study Session Scheduler</title>

    <!-- jquery-ui -->
    <link href="{% static "css/jquery-ui.css" %}" rel="stylesheet"> 

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/agency.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="{% static "css/registration.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">UCSC Study Group Scheduler</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
        {% if user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="#sessions">My Study Sessions</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#schedule">My Schedule</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#settings">Account Settings</a>

            <form method="post">
            {% csrf_token %}
                 <div class="form-group">
               <button type="submit" name="logout" id="logout" value=1 class="logout btn-x2">Logout</button>
                </div>
            </form>
                    </li>
        {% else %}
        <li>
           <a class="page-scroll" href="#about">About this Site</a>
        </li>
        {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to the Study Session Manager!</div>
    <div class="intro-heading">Are you ready to study?</div>
    {% if user.is_authenticated %}
                <a href="#openModal" class="btn-x2">Create a new study session</a>
    {% else %}
    <a href="/register/" class="btn-x2">Register</a>
     OR 
                <button type="button" class="btn-x2" data-toggle="modal" data-target="#login_modal">Login</button>
    {% endif %}
            </div>
        </div>
    </header>

<!-- MODALS -->

    <!-- Class Scheduler Modal -->
<form id="classForm" method="post">
{% csrf_token %}
<div id="openModal" class="modalDialog">
    <div>
        <!--<p title="Close" class="close" onclick="closeFunction()">X</p>
        <a href="#close" title="Close" class="close">X</a>-->
        <button class="close" onclick="closeFunction()">X</button>
        <div class="intro-lead-in1">Create Study Session</div>
        <div class="createSessionText">
  <div class="ui-widget">
            <label for="classSelector">Select a Class: </label>
            <input id="classSelector" name="class" value=0>
        </div>
        Minimum Time for a Study Session (Please Select One):<br>
        <input type="radio" name ="time" value=".5">&nbsp;.5 hr&nbsp;
        <input type="radio" name ="time" value="1" checked>&nbsp;1 hr&nbsp;
        <input type="radio" name ="time" value="1.5">&nbsp;1.5 hr&nbsp;
        <input type="radio" name ="time" value="2">&nbsp;2 hr&nbsp;
        <input type="radio" name ="time" value="2.5">&nbsp;2.5 hr&nbsp;
        <input type="radio" name ="time" value="3">&nbsp;3 hr&nbsp;
        <input type="radio" name ="time" value="3.5">&nbsp;3.5 hr&nbsp;
        <input type="radio" name ="time" value="4">&nbsp;4 hr&nbsp;
        <br><br>
        Minimum # of People in Session (Please Select One):<br>
        <input type="radio" name ="people" value="2" checked>&nbsp;2&nbsp;
        <input type="radio" name ="people" value="3">&nbsp;3&nbsp;
        <input type="radio" name ="people" value="4">&nbsp;4&nbsp;
        <input type="radio" name ="people" value="5">&nbsp;5&nbsp;
        <input type="radio" name ="people" value="6">&nbsp;6&nbsp;
        <input type="radio" name ="people" value="7">&nbsp;7&nbsp;
        <input type="radio" name ="people" value="8">&nbsp;8&nbsp;
        <input type="radio" name ="people" value="9">&nbsp;9&nbsp;
        <input type="radio" name ="people" value="10">&nbsp;10&nbsp;
        <br><br>
        Meeting Locations (Please Check All That Apply):<br>
        <input type="checkbox" name="location-library">&nbsp;Automatically reserve a Room in McHenry or S&E library.<br>
        <input type="checkbox" name="location-oncampus">&nbsp;I'm willing to meet anywhere on campus.<br>
        <input type="checkbox" name="location-offcampus">&nbsp;I'm willing to meet anywhere off campus.<br><br>
        How Often Do You Want to Meet?<br>
        <input type="radio" name ="recurrence" value="once" checked>&nbsp;One Time
        <input type="radio" name ="recurrence" value="weekly">&nbsp;Once a Week (recurring)
        <br><br>
        What Gender Do You Prefer to Study With?<br>
        <input type="radio" name ="gender" value="men" checked>&nbsp;Men
        <input type="radio" name ="gender" value="women">&nbsp;Women
        <input type="radio" name="gender" value="both">&nbsp;Both Men and Women
        <br><br>
    </div>
    <button type="button" class="moveToSchedule" name="approveSchedule" value="1"> Next </button>
    </div>

</div>
</form>

<script>
    function closeFunction(){
        //if (confirm("Are you sure you want to close this window?") == true) {
            //<a href="#close"></a> 
            window.location.href = '#close';
        //}
}
</script>

<!-- Schedule Modal -->
<div id="openScheduleModal" class="modalDialog">
  <div>
    <button class="close" onclick="closeFunction()">X</button>
    <div class="intro-lead-in1">Create Study Session</div>
    <div class="schedule" style="height: 600px;"></div>
    <button type="button" class="submitRequest">Create New Study Session</button>
  </div>
</div>


<!-- Privacy Modal -->
<div id="openPrivacyPolicyModal" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <div class="intro-lead-in1">Privacy Policy</div>
    <div class="privacyPolicyText">
      <p>Phone numbers and emails will not be shared with anyone.</p>  
    </div>
  </div>
</div>

<!-- Terms Modal -->
<div id="openTermsOfUseModal" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="close">X</a>
        <div class="intro-lead-in1">Terms of Use</div>
  <div class="termsOfUseText">
    <p>Interactions between students should reflect a growth mindset.  A growth (or incremental) mindset reflects one's beliefs about intelligence or ability and how it develops.  A growth mindset reflects an emphasis on effort and task relevant behaviors such as practice and other cognitive efforts as the catalyst for intelligence and ability.  The growth mindset is aligned with the notion of brain plasticity.  That is, the capacity of the brain to reorganize itself via neural pathways and synapses through efforts and action with respect to given tasks.  Hence by engaging in certain actions we can enhance the brain's capabilities. Interactions between students should convey high expectations and support for learning.  High expectations and supportive interactions reflect the following.</p>  
  <p>1. Believing and conveying that one's capabilities are not limited to or bound by one's current level of understanding.</p>
  <p>2. Giving individuals the time and room to formulate their own thoughts, opinions and responses (e.g., when in study sessions).</p>
    <p>3. Reframing statements when others are unclear of the meaning.</p>
    <p>4. Prompting others to develop their ideas through questioning.</p>
    <p>5. Recognizing the value of others' ideas and adding to them as necessary to enhance understanding of concepts and methods.</p>
    <p>6. Providing positive and encouraging feedback to show others what you appreciate about how they approached tasks.</p>
    <p>Student interactions should avoid stereotypes through words and deeds.  This is enhanced by the following.</p>
    <p>1. Utilizing multiple and diverse role models.  This may involve speakers, individuals contributing to study sessions or group knowledge, and examples of content.</p>
    <p>2. Avoid bringing up students' group identities (e.g., gender, ethnicity and race) during study sessions especially.</p>
    <p>3. Treat others as individuals.  Get to know who they are on a personal level.</p>
    <p>4. Recognize that many students need safe spaces where they can express their vulnerabilities (e.g., not understanding the content, feeling confused) without having to worry about being stereotyped by others.</p>
<p>5. Understand there is power in numbers as when multiple members of one minority or underrepresented group are in a class.  This reduces feelings of being potentially pigeonholed due to one's group membership and stereotyped.</p>
<p>6. Understand that academic achievements are the result of past efforts and exposures. Understand and convey the growth mindset as described previously in other words.</p>
<p>7. Make clear as necessary the distinction between current and future ability as indicated bythe growth mindset information.  Future success is not guaranteed because of current success.  Future failures or stumbling blocks are not inevitable because of current failures or stumbling blocks.</p>
<p>8. Convey that individuals are more than their test scores or current level of performances. They are individuals, with hobbies, lives, and the like.</p>
<p>9. Convey that difficulty with new or unfamiliar topics is to be expected and part of the normal learning curve or process.</p>
<p>10. Provide positive feedback to fellow students.  This includes the belief that individuals are capable of meeting high performance standards.</p>
<p>More information about this topic can be found at the following link, http://www.reducingstereotypethreat.org/reduce.html</p>
  </div>
    </div>
</div>

<!-- Login Modal Start -->
<div class="modal fade" id="login_modal">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="container">
           
           <div class="col-xs-6">
              <form method="post" id="loginform">
              {% csrf_token %}
                <h2>Please Sign In</h2>
                <hr class="colorgraph">
                <div class="form-group">
                    <input type="username" name="username" id="username" class="form-control input-lg" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
                </div>
                <span class="button-checkbox">
                    <a href="" class="btn btn-link pull-right">Forgot Password?</a>
                </span>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">

                    <button type="submit" class="btn btn-lg btn-success btn-block" id="signin" value=1 name="signin">Sign In</button>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <a href="/register/" class="btn btn-lg btn-primary btn-block">Register</a>
                    </div>
                </div>
                </form>
           </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Login Modal End -->



<!-- SCROLL PAGE BODY -->
{% if user.is_authenticated %}
    <!-- Study Sessions Section -->
    <section id="sessions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading">My Sessions</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-6">
                    <h3 class="service-heading">Pending Sessions</h3>
              <ul class="pendingSess">
                        <div data-role="content" id="Div1" class="accordion">
                        <div id="accordion" data-role="collapsible-set"/>
                        </div>
              </ul>
                </div>
                <div class="col-xs-6">
                    <h3 class="service-heading">Scheduled Sessions</h3>
        <ul class="scheduledSess">
                        <div data-role="content" id="Div2" class="accordion">
                        <div id="accordion" data-role="collapsible-set"/>
                        </div>
              </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Schedule Section -->
    <section id="schedule" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Schedule</h2>

                    <button type="button" class="button1 importCal">Import Google Calendar</button>
                    <br>
                    <br>
                    <div class="calendar">Click and drag to select times you are busy, which will be indicated by the color red.
                    <br>You can deselect a time by clicking and dragging on red colored blocks. </div>
                    <br>
                    <br>
                    <div class="schedule"></div>
                    <button type="button" class="button1" id="#buttonSubmitSchedule">Update Schedule</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Account Settings Section -->
    <section id="settings">
        <div class="container1">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Account Settings</h2>
                </div>
            </div>
      <div class="row">
        <table style="width:50%" align="center">
          <tr>
            <td>Email</td>
            <td>
              <input type="text" class="accountInfo Email" name="Email" value="samwoods@ucsc.edu" disabled><br>
                  </td> 
            <td>
              <button type="button" class="edit Email">
                <span class="button-text">Edit</span>
              </button>
                  </td>
          </tr>
                            <tr>
            <td>Password</td>
               <td>
                  <input type="text" class="accountInfo Password" name="Password" value="******" disabled><br>
                 </td> 
            <td>
              <button type="button" class="edit Password">
                <span class="button-text">Edit</span>
              </button>
                </td>
            </tr>
             <tr>
                <td>Phone Number</td>
                <td>
              <input type="text" class="accountInfo PhoneNumber" name="Phone Number" value="888-888-8888" disabled><br>
            </td> 
            <td>
              <button type="button" class="edit PhoneNumber">
                <span class="button-text">Edit</span>
              </button>
                </td>
            </tr>
            <tr>
              <td>Notification Settings</td>
              <td>
              <input type="checkbox" class="accountInfo Notification emailNotify" value="email" checked disabled>Notify me by email<br>
                                <input type="checkbox" class="accountInfo Notification textNotify" value="phone" disabled>Notify me by text<br>
                                    </td>
            <td>
              <button type="button" class="edit Notification">
                <span class="button-text">Edit</span>
              </button>
                </td>
                            <tr>
                    </table>
            </div>
        </div>
    </section>

    {% else %}

    <!-- About Section -->
    <section id="about">
        <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">About This Site</h2>
              </div>
             </div>
       <div class="row text-center">
         <p> This website was made by team Sexy Magic whos members are Brittany Arthur, Jeremy Criquet, Jason Heron, Sofia Herrero, Remington Maxwell, and Sara Woods. Study Scheduler is designed to find study session times for you and other students in your class. It tries to find times that allow for an adequate amount of study time with  </p>
       </div>
  </div>
    </section>

    {% endif %}

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <span class="copyright">Copyright &copy; Study Scheduler 2014</span>
                </div>
                <div class="col-xs-6">
                    <ul class="list-inline quicklinks">
                        <li>
         <a href="#openPrivacyPolicyModal">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#openTermsOfUseModal">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static "js/classie.js" %}"></script>
    <script src="{% static "js/cbpAnimatedHeader.js" %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static "js/jqBootstrapValidation.js" %}"></script>
    <!--<script src="{% static "js/contact_me.js" %}"></script>-->

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/agency.js" %}"></script>

    <script src="{% static "js/schedule.js" %}"></script>
    <script src="{% static "js/update.js" %}"></script>

    <script src="{% static "js/jquery-ui.js" %}"></script>

    <script>
    $(document).ready(function() {
      scheduleInit();
      console.log("document ready\n");
      $("button.edit").click(function() {
         // if the option is disabled
         if (!$(this).hasClass("Save")){
             // enable the input
             $(this).parent().closest('td').prev().children('input').prop('disabled', false);
             // change the text of the button to Save
             $(this).children("span").text("Save");
         // if the option is enabled
         } else {
             // add code to update database
             var inputSection = $(this).parent().closest('td').prev().children('input');
             console.log(inputSection);
             if ($(inputSection).is("input:text")){
                console.log("text has been saved");
          var newValue = $(inputSection).val();
          console.log(newValue);
          if ($(inputSection).hasClass("Email")){
             // save email
          } else if ($(inputSection).hasClass("Password")){
             // save password
          } else {
             // save phone number
          }
             } else {
                console.log("checkboxes have been saved");
          //if ($(inputSection.hasClass
             }
             // disable the input
             $(inputSection).prop('disabled', true);
             // change the text of the button to Edit
             $(this).children("span").text("Edit");
         }
         $(this).toggleClass("Save");
      });

      var availableClasses = {{classes|safe}};
      console.log($("#classSelector"));
      $("#classSelector").autocomplete({
         source: availableClasses,
         disabled: false
      });

      $("button.moveToSchedule").click(function() {
         console.log( $("#classSelector").prop("value"));
               closeFunction();
               window.location.href = '#openScheduleModal';
      });
			
      $("button.submitRequest").click(function() {
        var dict = {};
        var schedule = scheduleGetData( document.getElementById( 'openScheduleModal' ).getElementsByClassName( 'schedule' ).item() );
        var date = new Date();
        date.setHours( 0, 0, 0, 0 );
        while ( date.getDay() > 0 ) date.setDate( date.getDate() - 1 )
        dict = {};
        for ( i = 0; i < 7; ++i ) {
          dict[ date.getTime() ] = schedule[ i ];
          date.setDate( date.getDate() + 1 );
        }
        dict = {'schedule': dict};
        dict['class'] = $('#classSelector').val();
        dict['minTime'] = $('input[name=time]:checked', '#classForm').val();
        dict['minUsers'] = $('input[name=people]:checked', '#classForm').val();
        dict['location'] = ( $('input[name=location-library]', '#classForm').prop( 'checked' ) ? 1 : 0 ) +
          ( $('input[name=location-oncampus]', '#classForm').prop( 'checked' ) ? 2 : 0 ) +
          ( $('input[name=location-offcampus]', '#classForm').prop( 'checked' ) ? 4 : 0 );
        var str = escape( JSON.stringify( dict ) );
        console.log( JSON.stringify( dict ) );
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
          if ( xmlhttp.readyState == 4 && xmlhttp.status == 200 ) {
            updateSessions();
          }
        }
        xmlhttp.open( 'POST', 'rest', true );
        xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded")
        xmlhttp.send( 'csrfmiddlewaretoken={{ csrf_token }}&action=create&data=' + str );
        closeFunction();
      });
			
      $("#buttonSubmitSchedule").click(function() {
        var dict = {};
        var schedule = scheduleGetData( document.getElementById( 'openScheduleModal' ).getElementsByClassName( 'schedule' ).item() );
        var date = new Date();
        date.setHours( 0, 0, 0, 0 );
        while ( date.getDay() > 0 ) date.setDate( date.getDate() - 1 )
        dict = {};
        for ( i = 0; i < 7; ++i ) {
          dict[ date.getTime() ] = schedule[ i ];
          date.setDate( date.getDate() + 1 );
        }
        dict = {'schedule': dict};
        dict['class'] = $('#classSelector').val();
        dict['minTime'] = $('input[name=time]:checked', '#classForm').val();
        dict['minUsers'] = $('input[name=people]:checked', '#classForm').val();
        dict['location'] = ( $('input[name=location-library]', '#classForm').prop( 'checked' ) ? 1 : 0 ) +
          ( $('input[name=location-oncampus]', '#classForm').prop( 'checked' ) ? 2 : 0 ) +
          ( $('input[name=location-offcampus]', '#classForm').prop( 'checked' ) ? 4 : 0 );
        var str = escape( JSON.stringify( dict ) );
        console.log( JSON.stringify( dict ) );
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
          if ( xmlhttp.readyState == 4 && xmlhttp.status == 200 ) {
            updateSessions();
          }
        }
        xmlhttp.open( 'POST', 'rest', true );
        xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded")
        xmlhttp.send( 'csrfmiddlewaretoken={{ csrf_token }}&action=create&data=' + str );
        closeFunction();
      });
    });
  </script>

</body>

</html>
